.App {
  text-align: center;
  display: flex;
  justify-content: left;
  font-size: 16px;
  padding: 10px;
}

.taskLink {
  width: 200px;
  height: 40px;
  padding: 10px;
  color: #000;
  text-decoration: none;
  border: 1px solid #727171;
  border-radius: 24px;
  margin-right: 10px;
}
